body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.play_button, .video, .try_button, .buy_button {
  box-shadow: 0px 7px 5px -5px rgba(34, 60, 80, 0.6);
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 1600px;
  margin: 0 auto;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgphoto {
  display: block;
  background-image: url("../img/Color Fill 1.png");
  width: 1600px;
  height: 750px;
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
}

.img_logo {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
}

.logo_text_uper {
  padding: 0px 0px 0px 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.logo_text_lower {
  padding: 0px 0px 0px 10px;
  margin: 17px 0px 0px -50px;
  color: white;
  font-family: "Raleway";
  font-size: 15px;
}

.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 330px;
  margin: 0;
  color: white;
}

.menu_list_link {
  list-style-position: inside;
  font: 15px "Raleway", sans-serif;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  list-style-type: none;
}
.menu_list_link:hover {
  color: #061e37;
}

.sign-up_button {
  text-decoration: none;
  color: white;
  width: 85px;
  height: 25px;
  padding: 4px 20px;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 2px;
  margin-left: 348px;
  margin-top: 5px;
  transition: all 0.3s;
  font-family: "Raleway", sans-serif;
}
.sign-up_button:hover {
  background-color: #fff;
  color: #061e37;
}

.main_title {
  color: white;
  font-family: "Raleway";
  padding-top: 100px;
  font-size: 55px;
}

.main_text {
  display: inline-block;
  padding-right: 852px;
  padding-top: 30px;
  color: white;
}

.header_buttons {
  display: flex;
}

.buy_button {
  width: 150px;
  height: 55px;
  background-color: #061e37;
  color: white;
  border-radius: 3px;
  text-align: center;
  padding-top: 18px;
  transition: all 0.3s;
  margin-top: 45px;
  font-weight: bold;
}
.buy_button:hover {
  background-color: #fff;
  color: #061e37;
}

.try_button {
  width: 160px;
  height: 55px;
  background-color: white;
  color: #061e37;
  border-radius: 3px;
  text-align: center;
  padding-top: 18px;
  transition: all 0.3s;
  margin-top: 45px;
  margin-left: 30px;
  font-weight: bold;
}
.try_button:hover {
  background-color: #061e37;
  color: white;
}

.video {
  width: 600px;
  height: 320px;
  background-color: #fff;
  float: right;
  margin: -260px 0px 0px 0px;
  background-image: url("../img/Rounded Rectangle 2.png");
  border-radius: 3px;
}

.play_button {
  width: 60px;
  height: 60px;
  background-color: #061e37;
  color: white;
  border-radius: 3px;
  text-align: center;
  padding-top: 18px;
  transition: all 0.3s;
  margin-top: 130px;
  margin-left: 280px;
  font-weight: bold;
  position: absolute;
}
.play_button:hover {
  background-color: #fff;
  color: #061e37;
}

.play_text {
  font-size: 12px;
  font-weight: bold;
  color: #061e37;
  line-height: 34;
  padding-left: 256px;
}