body{
	overflow-x:hidden;
	font-family: 'Raleway', sans-serif;
}

%shadow{
	-webkit-box-shadow: 0px 7px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 0px 7px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 0px 7px 5px -5px rgba(34, 60, 80, 0.6);
}

%block_size{
	padding-top: 100px;
	padding-right: 80px;
	padding-left: 80px;

}

%ct{
	font-weight: 400;
	color: #cbd4d8;
	padding-top: 25px;
	line-height: 1.5;
	text-align: center;
}

$w: white;

a{
	text-decoration: none;
	color: $w;
}

header{
	width: 1600px;
	margin:0 auto;
	display: flex;

}

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bgphoto{
	display: block;
	background-image: url("../img/Color Fill 1.png");
	width: 1600px;
	height: 750px;
	padding-top: 50px;
	padding-right: 80px;
	padding-left: 80px;

}


.img_logo{
	width: 30px;
	height: 30px;
}

.logo{
	display: flex;
}
.logo_text_uper{
	padding: 0px 0px 0px 10px;
	color: $w;
	font-family: 'Raleway', sans-serif;
	margin: 0px 0px 0px 0px;
	font-size: 15px;
	
}

.logo_text_lower{
	padding: 0px 0px 0px 10px;
	margin: 17px 0px 0px -50px;
	color: $w;
	font-family: 'Raleway';
	
	font-size: 15px;
}

.menu_list{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 330px;
	margin: 0;
	color: $w;


}

.menu_list_link{
	list-style-position: inside;
	font: 15px 'Raleway', sans-serif;
	
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all .3s;
	list-style-type: none; 
	
	&:hover {
		color: #061e37;
	}
}

.sign-up_button{
  text-decoration: none;
  
    color: $w;
    width: 85px;
    height: 25px;
    padding: 4px 20px;
    font-size: 12px;
    border: 1px solid $w;
    border-radius: 2px;
    margin-left: 348px;
    margin-top: 5px;
    transition: all .3s;
    font-family: 'Raleway', sans-serif;
	
    &:hover{
    	background-color: #fff;
    	color: #061e37;
    }
}

.main_title{
	color:$w;
	font-family: 'Raleway';
	padding-top: 100px;
	font-size: 55px;
}

.main_text{
	display: inline-block;
	padding-right: 852px;
	padding-top: 30px;
	color: $w;
	line-height: 2;
}

.header_buttons{
	display: flex;
}

.buy_button{
	width: 150px;
    height: 55px;
    background-color: #061e37;
    color: $w;
    border-radius: 3px;
    text-align: center;
    padding-top: 18px;
    transition: all .3s;
    margin-top: 45px;
    font-weight: bold;
    @extend %shadow;
    &:hover{
    	background-color: #fff;
    	color: #061e37;
    }
}

.try_button{
	width: 160px;
    height: 55px;
    background-color: $w;
    color: #061e37;
    border-radius: 3px;
    text-align: center;
    padding-top: 18px;
    transition: all .3s;
    margin-top: 45px;
    margin-left: 30px;
    font-weight: bold;
    @extend %shadow;
    &:hover{
    	background-color: #061e37;
    	color: $w;
    }
}

.video{
	width: 600px;
	height: 320px;
	background-color: #fff;
	float: right;
	margin: -260px 0px 0px 0px;
	background-image: url("../img/Rounded Rectangle 2.png");
	border-radius: 3px;
	@extend %shadow;
}

.play_button{
	width: 60px;
    height: 60px;
    background-color: #061e37;
    color: $w;
    border-radius: 3px;
    text-align: center;
    padding-top: 21px;
    transition: all .3s;
    margin-top: 130px;
    margin-left: 280px;
    font-weight: bold;
    @extend %shadow;
    position: absolute;
    &:hover{
    	background-color: #fff;
    	color: #061e37;
    }

}

.play_text{
	font-size: 12px;
    font-weight: bold;
    color: #061e37;
    line-height: 34;
    padding-left: 256px;

}


section{
	width: 1600px;
	margin:0 auto;
	display: flex;
}

.content{
	display: block;
	width: 1600px;
	height: 800px;
	@extend %block_size;

}
.center_title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 600;
	

}

.title_text{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: #cbd4d8;
	
}

.center_text{
	@extend %ct;
	font-size: 18px;
	padding: 0px 346px 0px;

}

.ico_title{
	display: flex;
	padding-top: 120px;
}

.img_ico{
	width: 70px;
	height: 80px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.ico_main_title{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: black;
	padding-top: 45px;
}

.ico_text{
	@extend %ct;
	font-size: 18px;
	padding: 0px 26px 0px;
}

.get_button{
	display: block;
	width: 160px;
    height: 55px;
    background-color: #1de9b6;
    color: $w;
    border-radius: 3px;
    text-align: center;
    padding-top: 18px;
    transition: all .3s;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    @extend %shadow;
    &:hover{
    	border: 1px solid lightgray;
    	background-color: $w;
    	color: black;
    }

}

.info_blocks{
	display: flex;
	width: 1600px;
	padding-top: 100px;
}

.bisnes{
	background-color: #80d8ff;
	width: 400px;
	height: 150px;
	margin: 0px 0px 0px -80px;
}


.download{
 	background-color: #82b1ff;
	width: 400px;
	height: 150px;
	
}

.free{
	background-color: #b388ff;
	width: 400px;
	height: 150px;
}

.pro{
 	background-color: #ea80fc;
	width: 400px;
	height: 150px;
}

.img_info{
	width: 60px;
	height: 60px;
	
}